:root {
  --bg-gradient-light: #1f7a8c;
  --bg-gradient-dark: #022b3a;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  background-image: linear-gradient(
    to top,
    var(--bg-gradient-dark) 0%,
    var(--bg-gradient-light) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  place-content: center;
}

h1 {
  font-family: Montserrat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px;
}
