:root {
  --validation-false-color: #ed6a5a;
  --validation-true-color: #276b65;
  --validation-false-bg-color: #ed6a5a;
  --validation-true-bg-color: #84dccf;
}

.output {
  margin-top: 20px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  padding: 20px;
  border-radius: 20px;
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--box-bg-color);

  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.output.show {
  opacity: 1;
  transform: translateY(0);
}

.progress-bar-outer {
  background-color: rgba(128, 128, 128, 0.499);
  width: 80%;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
}

.progress-bar-inner {
  width: 0%;
  height: 100%;

  transition: width 0.8s ease;
}

.output h1,
h3 {
  margin: 10px 0;
  text-align: center;
}

.simulator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.absent-buttons,
.present-buttons {
  display: grid;
  grid-template-columns: 45px 45px 45px;
  column-gap: 5px;
}

.output button {
  font-family: inherit;
  font-size: 100%;
  border-radius: 8px;
  border: none;
  padding: 6px 0;

  background-color: #c2dfe3;
  color: #022b3a;
  font-weight: bold;
  cursor: pointer;

  transition: box-shadow 0.15s;

  &:hover {
    box-shadow: 0 0 5px #022b3a5f;
  }
}

.present-buttons button {
  background-color: var(--validation-true-color);
  color: var(--box-bg-color);
}

.absent-buttons button {
  background-color: var(--validation-false-bg-color);
  color: var(--box-bg-color);
}

.sim-reset {
  margin-top: 10px;
  grid-column: span 2;
}

.simulator p {
  text-align: center;
  margin: 10px 0;
}
